*.la
*.lo
*.o
*.pyc
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
concordance/concordance

## libconcord perl bindings
libconcord/bindings/perl/MYMETA.json
libconcord/bindings/perl/MYMETA.yml
libconcord/bindings/perl/concord.pm
libconcord/bindings/perl/concord_wrap.c
libconcord/bindings/perl/pm_to_blib
libconcord/bindings/perl/blib/

## libconcord python bindings
libconcord/bindings/python/build/
