<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Libusb USB device Shield</string>
	<key>CFBundleIdentifier</key>
	<string>com.libusb.USB_Shield.libconcord</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Libusb USB device Shield</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Logitech Harmony</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kernel.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>106000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<array>
			  <integer>49424</integer>
			  <integer>49425</integer>
			  <integer>49426</integer>
			  <integer>49427</integer>
			  <integer>49428</integer>
			  <integer>49429</integer>
			  <integer>49430</integer>
			  <integer>49431</integer>
			  <integer>49432</integer>
			  <integer>49433</integer>
			  <integer>49434</integer>
			  <integer>49435</integer>
			  <integer>49436</integer>
			  <integer>49437</integer>
			  <integer>49438</integer>
			  <integer>49439</integer>
			  <integer>49440</integer>
			  <integer>49441</integer>
			  <integer>49442</integer>
			  <integer>49443</integer>
			  <integer>49444</integer>
			  <integer>49445</integer>
			  <integer>49446</integer>
			  <integer>49447</integer>
			  <integer>49448</integer>
			  <integer>49449</integer>
			  <integer>49450</integer>
			  <integer>49451</integer>
			  <integer>49452</integer>
			  <integer>49453</integer>
			  <integer>49454</integer>
			  <integer>49455</integer>
			  <integer>49456</integer>
			  <integer>49457</integer>
			  <integer>49458</integer>
			  <integer>49459</integer>
			  <integer>49460</integer>
			  <integer>49461</integer>
			  <integer>49462</integer>
			  <integer>49463</integer>
			  <integer>49464</integer>
			  <integer>49465</integer>
			  <integer>49466</integer>
			  <integer>49467</integer>
			  <integer>49468</integer>
			  <integer>49469</integer>
			  <integer>49470</integer>
			  <integer>49471</integer>
			  <integer>49472</integer>
			  <integer>49473</integer>
			  <integer>49474</integer>
			  <integer>49475</integer>
			  <integer>49476</integer>
			  <integer>49477</integer>
			  <integer>49478</integer>
			  <integer>49479</integer>
			  <integer>49480</integer>
			  <integer>49481</integer>
			  <integer>49482</integer>
			  <integer>49483</integer>
			  <integer>49484</integer>
			  <integer>49485</integer>
			  <integer>49486</integer>
			  <integer>49487</integer>
			</array>
			<key>idVendor</key>
			<integer>1133</integer>
		</dict>
		<key>Logitech Harmony (National)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kernel.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>106000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>50009</integer>
			<key>idVendor</key>
			<integer>1024</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.8</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.iokit</key>
		<string>6.0</string>
	</dict>
</dict>
</plist>
